<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="76x76" href="assets/img/apple-icon.png">
    <link rel="icon" type="image/png" sizes="96x96" href="assets/img/favicon.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>BillApp</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />

    @Styles.Render("~/Content/css")
    
</head>
<body>
    <div class="wrapper">
        <div class="sidebar" data-background-color="white" data-active-color="danger">
            <!--
                Tip 1: you can change the color of the sidebar's background using: data-background-color="white | black"
                Tip 2: you can change the color of the active button using the data-active-color="primary | info | success | warning | danger"
            -->
            <div class="sidebar-wrapper">
                <div class="logo">
                    <a href="@Url.Action("Index","Home")" class="simple-text">
                        BillApp
                    </a>
                </div>
                <ul class="nav">
                    <li>
                        <a href="@Url.Action("Index","Customer")">
                            <i class="ti-user"></i>
                            <p>Cliente</p>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index","InvoiceHeader")">
                            <i class="ti-cloud-up"></i>
                            <p>Encabezado de factura</p>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index","Invoice")">
                            <i class="ti-book"></i>
                            <p>Facturas</p>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Create","Invoice")">
                            <i class="ti-clipboard"></i>
                            <p>Crear Factura</p>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("ByDates","Report")">
                            <i class="ti-search"></i>
                            <p>Buscar Factura</p>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index","Dashboard")">
                            <i class="ti-dashboard"></i>
                            <p>Dashboard</p>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="ti-map"></i>
                            <p>Mapas</p>
                        </a>
                    </li>
                    <li class="active-pro">
                        <a href="#">
                            <i class="ti-export"></i>
                            <p>Actualizar</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="main-panel">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar bar1"></span>
                            <span class="icon-bar bar2"></span>
                            <span class="icon-bar bar3"></span>
                        </button>
                        <div class="navbar-brand">
                            
                        </div>
                    </div>
                    <div class="collapse navbar-collapse">
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <a class="btn btn-fill btn-wd" href="@Url.Action("Create","Invoice")">
                                    Crear Factura
                                </a>
                            </li>
                            <li><a>|</a></li>
                            @Html.Partial("_LoginPartial")
                            <li>
                                <a href="@Url.Action("Index","Dashboard")" class="dropdown-toggle">
                                    <i class="ti-panel"></i>
                                    <p>Dashboard</p>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="ti-settings"></i>
                                    <p>Configuracion</p>
                                    <b class="caret"></b>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="@Url.Action("Create","InvoiceHeader")">1 - Encabezado Factura</a></li>
                                    <li><a href="@Url.Action("Create","Customer")">2 - Adiciona Clientes</a></li>
                                    <li><a href="@Url.Action("Create","Invoice")">3 - Crea Factura</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="ti-user"></i>                                    
                                    <p>My Cuenta</p>
                                    <b class="caret"></b>
                                </a>
                                <ul class="dropdown-menu">                                    
                                    <li><a href="@Url.Action("ChangePassword","Manage")">Cambiar password</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>

            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        @RenderBody()
                    </div>
                </div>
            </div>

            <footer class="footer">
                <div class="container-fluid">
                    <nav class="pull-left">
                        <ul>
                            <li>
                                <a href="http://www.about.me/mariobot" target="_blank">
                                    Mario Botero
                                </a>
                            </li>
                            <li>
                                <a href="http://mariobot.wordpress.com" target="_blank">
                                    Blog
                                </a>
                            </li>
                            <li>
                                <a href="http://www.github.com/mariobot/billapp" target="_blank">
                                    Git
                                </a>
                            </li>
                        </ul>
                    </nav>
                    <div class="copyright pull-right">
                        &copy;
                        @DateTime.Now.Year, echo con <i class="ti-heart"></i> por <a href="http://www.twitter.com/mariobot">@@MaRioBoT</a>
                    </div>
                </div>
            </footer>
        </div>
    </div>
</body>

@Scripts.Render("~/bundles/jquery")

@Scripts.Render("~/bundles/jstheme")

@RenderSection("scripts", required: false)

</html>