@model BillApp.Web.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Cambiar Paswword";
}

<div class="row">
    <div class="col-lg-offset-4 col-lg-4">
        <div class="card card-user">
            <div class="image">
                
            </div>
            <div class="content">
                <div class="author">
                    
                    <h4 class="title">
                        Cambiar Password
                        <br />
                    </h4>
                </div>
                @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="row text-center">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    </div>
                    <div class="row">
                        <div class="col-lg-offset-2 col-lg-8">
                            <div class="form-group">
                                <label>Paswword Antiguo</label>
                                @Html.EditorFor(model => model.OldPassword, new { htmlAttributes = new { @class = "form-control border-input", @placeholder = "Password Antiguo" } })
                                @Html.ValidationMessageFor(model => model.OldPassword, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-offset-2 col-lg-8">
                            <div class="form-group">
                                <label>Nuevo Password</label>
                                @Html.EditorFor(model => model.NewPassword, new { htmlAttributes = new { @class = "form-control border-input", @placeholder = "Nuevo Password" } })
                                @Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-offset-2 col-lg-8">
                            <div class="form-group">
                                <label>Confirmar Password</label>
                                @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control border-input", @placeholder = "Confirmar Password" } })
                                @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="row text-center">
                        <div class="form-group">
                            <div>
                                <br />
                                <input type="submit" value="Cambiar Password" class="btn btn-default" />
                                <br />
                                @*<a href="@Url.Action("Register","Account")" class="btn btn-sm btn-success"> Registrarme</a>*@

                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}